html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Monda", sans-serif;
  margin: 0;
  background-color: #bebebe;
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: 25fr 75fr;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
}

.presentation {
  grid-column: 1;
  padding: 2rem 1rem;
  margin: 1.5rem 1rem 1.5rem 1.5rem;

  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 0 10px grey;
  border-radius: 5px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.presentation h1 {
  grid-row: 1;
  grid-column: 1;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  align-self: center;
  text-align: center;
}

.presentation h2 {
  grid-row: 2;
  grid-column: 1;
  font-variant: small-caps;
  color: red;
  margin: 0;
  text-align: center;
}

.presentation h1 span {
  font-weight: normal;
}

.presentation img {
  height: 14rem;
  width: 14rem;
  border-radius: 7rem;
  border: 2px solid black;
  align-self: center;
}

.presentation a,
p {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  margin: 0;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2.5rem 0;
}

.description {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: justify;
}

.contact {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.contact-item img {
  border: none;
  border-radius: 0;
  height: 18px;
  width: 18px;
}

.contact div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.other {
  margin: 1.5rem 1.5rem 1.5rem -1rem;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  overflow: auto;
  gap: 1.5rem;
}

.other::-webkit-scrollbar {
  width: 0;
}

.other section {
  margin: 0;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
  min-width: 40rem;
}

.other section h2 {
  margin-top: 1rem;
  position: relative;
  color: #2b42b4;
  font-variant: small-caps;
  font-size: 2rem;
}

.other section h2::after {
  content: "";
  position: absolute;
  top: 4rem;
  width: 10ch;
  left: 0;
  border-bottom: 2px solid black;
}

.other details summary::-webkit-details-marker {
  display: none;
}

details > summary,
.studies {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}
summary {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

summary:hover {
  background-color: lightgray;
}

details,
.studies {
  margin-top: 1rem;
  padding: 0 1rem;
}

details[open] {
  position: relative;
}

details[open] summary:hover {
  background-color: white;
}

details[open] summary::after {
  content: "";
  border: 1px solid #233969;
  position: absolute;
  top: 5.5rem;
  width: 5ch;
  left: 1.6rem;
}

section h3 {
  font-size: 1.2rem;
  margin: 0;
}

section h4 {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #4772cf;
}

section h5 {
  color: #6c778d;
}

.job-description {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.job-description p {
  text-align: justify;
}

.studies {
  cursor: default;
}

ul {
  color: grey;
}

.idiomes {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.idioma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

progress {
  appearance: none;
  width: 12rem;
  height: 10px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: #4772cf;
}

progress::-moz-progress-bar {
  background-color: #4772cf;
}

#languages {
  padding-bottom: 2rem;
}
